@charset "UTF-8";
* {margin: 0;padding: 0;box-sizing: border-box}
                            
body{background-image: url('cintura.jpg');background-position: center;background-size: cover;background-repeat: no-repeat;background-attachment: fixed;}
                            
main {width: 100%;height: 570px;background: rgba(0, 0, 0, 0.5);margin: auto;}
                            
form{background: ;width: 100%;height: ;margin: auto;transform: translateY(20%);padding: 30px;border-radius: 2px}
                            
h2{margin-left: 1%;color:RoyalBlue;text-shadow: 5px 3px 5px #ccc}
                            
fieldset{width: 100%;height: 360px;margin: 0 auto;padding: 15px;border: none;border-radius: 5px;font-family: Lato;background:  linear-gradient(to left,#ccc,SkyBlue);}
                            
input{padding: 7px;width: 100%;margin-top: 20px;border:none;}
                            
input:hover{background: #f9f9f9}
                            
button{width: 40%;padding: 10px;margin-top: 30px;border: none;background: red;font-family: Lato;color: #fff;cursor: pointer}
                            
#reset{width: 40%;padding: 10px;margin-top: 30px;border: none;background:RoyalBlue;font-family: Lato;color: #fff;cursor: pointer}
                            
input,button{border:none;border-radius: 5px}
                            
button:hover{background:SeaGreen;transition: 0.2s}
                            
.autor{text-align: center;padding-top: 40px;font-size: 8pt;font-family: 'Raleway', sans-serif;color:DarkBlue;font-weight: 900}


                            
@media(min-width:360px){

    main{width: 100%;height: 700px;}

    form{transform: translateY(40%);}

    input{padding:10px;width:95%;}

    #reset{width: 53%;}
}

@media(min-width: 500px){

    fieldset{width:75%;height:340px;}

    input{width:90%;}

}


@media(min-width:768px){
    
    fieldset{width:50%;height:340px;}

}


@media(min-width:950px){
       
    fieldset{width:50%;height:340px;}   

}


@media(min-width: 1024px){

    fieldset{width:50%;height:380px;} 

    #reset{width:45%;}
}



@media(min-width:1360px) {

    main{width: 100%;height:100vh;margin: auto}

    form{width: 50%;height: 360px;margin: auto;transform: translateY(15%);padding: 30px;border-radius: 2px}

    h2{margin-left: 1%;}

    fieldset{width:70%;height:420px;padding: 25px;}

    input{padding:13px;}
                                    
    #resultado{padding: 20px}

    button{width: 20%;}    
                                  
    p{text-align: center;padding-top: px;font-size: 10pt;font-family: Lato;color: #fff;line-height: 50px}
}